@model Fiap.Web.AspNet4.ViewModel.ClientePesquisaViewModel

<h1>Clientes</h1>

@if( ! String.IsNullOrEmpty( (String) TempData["Mensagem"] ) ) {
    <div class="alert alert-warning" role="alert">@TempData["Mensagem"]</div>
}


<p class="toolbar">
    <a class="create btn btn-dark" asp-controller="Cliente" asp-action="Novo">Novo Cliente</a>
</p>

<div class="jumbotron">
    <form asp-action="Pesquisar">
        <div class="form-group">
            <label class="control-label" asp-for="ClienteNome"></label>
            <input class="form-control col-5" asp-for="ClienteNome" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="ClienteEmail"></label>
            <input class="form-control col-5" asp-for="ClienteEmail" />
        </div>
        <div class="form-group">
            <label class="control-label" asp-for="RepresentanteId"></label>
            <select class="form-control col-5" asp-for="RepresentanteId" asp-items="@Model.Representantes">
                <option value="">Selecione</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
    </form>
</div>
<br />
<br />

